
h1 a {

color: steelblue;
text-decoration:none;


}
h1 {

    color: steelblue;
    text-decoration:none;
    text-align: center;
}
.presentacion {
    font-family: 'robotolight';
    font-weight: 300;
    line-height: 1.42857143;
    


}


h2{
    color: rgb(70, 99, 180);

    text-align: center;
}

h3 p{
    font-size: 0.9375em;
    color: #7D7D7D;
    font-family: 'Arvo';
    letter-spacing: 1px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    text-align:justify;
    margin-left: 50px;
    margin-right: 60px;
    
}

/* banda de inicio*/
header h4{

    background-color: #15549a;
     
    color: azure;
    height: 40px;
    padding: 5px;
}

/* banner*/
img {
    
   width: 95%; 
   height: 60%;
    
}


/* para centrar los botones*/
div{
    justify-content: center;
    display: flex;
    padding:4rem;/* para separar del footer*/
}
button {
    
    color: #fff;
    background-color: #08c;
    border-bottom: #7d7d7d;
    border-radius: 10%;
    width: 100px;
    height: 70px;
    font-size: 14px;
    
  
    }
    footer{
    background-color: #7d7d7d;
    text-align: center;
    height: 40PX;
    padding: 5px;
    }
 .imagenes{
width: 20%;

 }
 .tabla ,tr,td{
width: 30%;
background-color: blanchedalmond;
border:1px solid #08c;
padding: 8px;
margin-left: 35%;
font-family:'Franklin Gothic Medium';
font-size: large;

 }
