


h1 a {

color: steelblue;
text-decoration:none;


}
h1 {

    color: steelblue;
    text-decoration:none;
    text-align: center;
}
.presentacion {
    font-family: 'robotolight';
    font-weight: 300;
    line-height: 1.42857143;
    


}


h2{
    color: rgb(70, 99, 180);

    text-align: center;
}

h3 p{
    font-size: 0.9375em;
    color: #7D7D7D;
    font-family: 'Arvo';
    letter-spacing: 1px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    text-align:justify;
    margin-left: 50px;
    margin-right: 60px;
    
}

/* banda de inicio*/
header h4{

    background-color: #15549a;
     
    color: azure;
    height: 40px;
    padding: 5px;
}

/* banner*/
img {
    
   width: 95%; 
   height: 60%;
    
}


/* para centrar los botones*/
div{
    justify-content: center;
    display: flex;
    padding:4rem;/* para separar del footer*/
}
button {
    
    color: #fff;
    background-color: #08c;
    border-bottom: #7d7d7d;
    border-radius: 10%;
    width: 100px;
    height: 70px;
    font-size: 14px;
    cursor: pointer;
    
  
    }
    footer{
    background-color: #7d7d7d;
    text-align: center;
    height: 40PX;
    padding: 0%;
    
    }
 .imagenes{
width: 20%;

 }
 .tabla ,tr,td{
width: 30%;
background-color: blanchedalmond;
border:1px solid #08c;
padding: 8px;
margin-left: 35%;
font-family:'Franklin Gothic Medium';
font-size: large;

 }
 .iconos{
    background-color: #7d7d7d;
padding: 0%;

justify-content:center;
z 


 }
.icono{
width: 30px;
height: 30px;

}
.principal{
display:flex ;
font-family: sans-serif;
align-items: center;
max-width: 1000 px;
min-width: 350 px;
padding: 3rem;

}
.somos{
    background-color: hsl(31, 77%, 52%);
    border-radius: 1rem;
}
.mision{
background-color: aquamarine;
border-radius: 1rem;

}
.vision{
    background-color:khaki;
    border-radius: 1rem;
}
.texto {
    font-size: 20px;
}
.columna{

    padding: 2rem;
    width: 25%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
   
}
.autor{
align-content: center;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px;

}
#button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
    width: 6rem;
    height: 2rem;
}
#button  {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
#button  {
	position:relative;
	top:1px;
}

.reloj {

    font-family:cursive;
    font-size: 20px;
    padding: 0%;
    color: #08c;
}